/* variable */
:root{
    --font-family: 'Rubik', sans-serif;
    --dynamicColor: #FF5E1A;
    --titleColor: #140A82;
    --mainColor: #000000;
    --yellowColor: #F6CB40;
    --greenColor: #24A640;
    --lightBlueColor: #00B0CC;
    --backgroundColor: #f4f4f4;
}



/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    font-family: var(--font-family);
} 
a{
    text-decoration: none;
    
}

/* basicStyle */
body{
    background-color: var(--backgroundColor);
    width: 100%;
    font-family: var(--font-family);
}

/* navBar */

nav{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

}
.logoNavBar img{
    width: 200px;
    height: 70px;
}
.navBarLinks{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    align-items: center;
}

.navBarLink a{
    color: var(--dynamicColor);
}
.burger{
    display: none;
}

@media screen and (min-width:768px) {
    .navBarLink a::after{
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background-color: var(--dynamicColor);
        transition: .5s;
    }
    .navBarLink a:hover::after{
        width: 100%;
        transition: width .5s;
    }  
}

@media screen and (max-width:767px) {

    .navBarLinks{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 0%;
        height: calc(100vh - 90px) ;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: var(--backgroundColor);
        align-items: flex-start;
        overflow: hidden;
        transition: .5s ease-in-out;
       
    }
    .navBarLinks :nth-child(1){
        padding-top: 1.5rem;
    }
    .show-nav .navBarLinks{
        width: 100%;
        
    }
    .navBarLink a{
        display: block;
        padding: 1rem;
        font-size: 20px;
        transition: all .4s ease-in-out;

    }
    .navBarLink a:hover{
        padding-left: 2rem;
        letter-spacing: 5px;
    }
    .burger{
        display: block;
        position:  relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        cursor: pointer;
        background-color: var(--backgroundColor);
    }
    .bar{
        display: block;
        width: 35px;
        height: 4px;
        background-color: var(--dynamicColor);
        border-radius: 5px;
    }
    .bar::after, .bar::before{
        content: '';
        display: block;
        width: 35px;
        height: 4px;
        background-color: var(--dynamicColor);
        border-radius: 5px;
        position: absolute;
        left: 0;
        transition:.4s ease-in-out;
    }
    .bar::before{
        transform: translateY(-12px);
    }
    .bar::after{
        transform: translateY(12px);
    }
    nav{
        display: flex;
        justify-content: space-around;
        
    }
    
    .show-nav .bar{
        width: 0%;
        background-color: transparent;

    }
    .show-nav .bar::before{
        transform: rotate(45deg);
    }
    .show-nav .bar::after{
        transform: rotate(-45deg);
    }
}



/* carousel */


.carousel1{
    display: flex;
    /* display: none; */
    align-items: center;
    z-index: 0;
}
.carousel img{
    width: 385px;
    height: 622px;
}
.maintenance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    align-items: flex-start;
   
    
}
.carousel h2{
    padding-bottom: 5px;
    padding-left: 80px;
    font-size: 26px;
    color: var(--titleColor);
}
.carousel h4{
    padding-bottom: 30px;
    padding-left: 80px;

}
.carousel p{
    width: 80%;
    padding-left: 80px;
    text-align: justify;
}
.boutonDecouvrir {
    margin-left: 80px;
    margin-top: 60px;
    color:var(--dynamicColor);
    background-color: #ffffff;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--dynamicColor);
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: all .6s ;

}

.boutonDecouvrir:hover{
    color: white;
}
.boutonDecouvrir::before{
    content: '';
    position:absolute;
    top: 47px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dynamicColor);
    border-radius: 50% 50%  0 0;
    transition: all .7s;
    z-index: -1;
}

.boutonDecouvrir:hover::before{
    top: 0;
    border-radius: 0;
}


.carousel2{
    /* display: none; */
    display: flex;
    align-items: center;
    z-index: 0;
}
.materiel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    align-items: flex-start;
}
.carousel3{
    /* display: none; */
    display: flex;
    align-items: center;
    z-index: 0;
}
.assisctance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    align-items: flex-start;
}

.carousel{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    position: static;
}
.carousel1, .carousel2, .carousel3{
    position: relative;
    top: 0;
    left: 0;
}
.precedent{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 90px;
    right: 9%; */
    
    border-radius: 50%;
    cursor: pointer;
}
.suivant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    /* position: ; */
    /* bottom: 90px;
    right: 2%; */
    border-radius: 50%;
    cursor: pointer;
    margin-left: 50px;
}

.bouton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    z-index: 0;
    
}
.slider{
    display: none;
}
 .active{
    display: flex;
    height: 500px;
}

.aPropos{
    display: flex;
    /* position: relative; */
    justify-content: center;
}
.aPropos div{
    padding: 30px 0 0px 0;
    background-color:#ffffff;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 30px 0 100px 200px;
    border-radius: 10px;
    border: 2px solid var(--yellowColor);
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.aPropos div:hover{
    box-shadow: 10px -10px 1px #F6CB40;
}

.aPropos div p{
    width: 400px;
    margin-top: 50px;
    margin-left: 70px;
}
.aPropos div h1{
    color: var(--titleColor);
    margin-left: 30px;
}

.aPropos img{
    width: 400px;
    height: 400px;
    position: relative;
    right: 130px;
    top: -30px;
}

.aPropos a{
    margin-bottom: 60px;
}


.activite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.activite img{
    width: 287px;
    height: 287px;
}

.activite div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    flex-direction: column;
    width: 400px;
    height: 600px;
    transition: all .5s;
    transform-style: preserve-3d;
    padding-bottom: 50px;
    margin: 0 20px 100px 20px;
}
.activite h2{
    color: var(--titleColor);
}
.activite div:hover img, h2, a{
    transform: translateZ(100px);
}